<% include ../partials/head.ejs %>
<body id="profile">
    <header>
        <nav>
           <img src="" alt="logo">
           <ul>
              <li><a href="/index">Home</a></li>
              <li><a href="/matches">Matches</a></li>
              <li><a href="/login">Log in</a></li>
              <li><a href="/profile">Profiel</a></li>
           </ul>
        </nav>
     </header>
    <main>
        <section>
            <ul>
                <li>
                    <article>
                        <img src="" alt="Profielfoto">
                        <footer>
                            <ul>
                                <li>
                                    <% users.forEach(function(user){ %>
                                    <h1><%=user.first_name %></h1>
                                    <% }) %>
                                </li>
                            </ul>
                        </footer>
                    </article>
                </li>
            </ul>
        </section>
        <section class="profile-info">
            <article>
                <p>
                    <% users.forEach(function(user){ %>
                    <b>Leeftijd:</b>
                    <i><%=user.leeftijd %></i>
                    <% }) %>
                </p>
                <p>
                    <% users.forEach(function(user){ %>
                    <b>Doet aan de sport:</b> <i><%=user.sport %></i>
                    <% }) %>
                </p>

                <hr />
            </article>
            <article>
                <h2>Info</h2>
                <% users.forEach(function(user){ %>
                <p><%=user.description %></p>
                <% }) %>
                <hr />
            </article>
        </section>
        <section>
            <% users.forEach(function(user){ %>
            <i><%=user.first_name %><%=user.leeftijd %><%=user.sport %><%=user.description %> -
                <a href="/users/delete/" class="deleteUser" data-id="<%= user._id %>"> Wis mijn account </a> </i>
            <% }) %>
        </section>
    </main>
    <% include ../partials/footer.ejs %>